# compiled output
/dist
/node_modules
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Project files
# */client_secret.json
# */token.json

# Google config #
**/google-admin/*.json
**/google-calendar/*.json
**/google-drive/*.json

# /src/google-admin/service-account-key.json

# /src/google-calender/client_secret.json
# /src/google-calender/token.json

# /src/google-drive/client_secret.json